$breakpoint-xs: 32rem;
$breakpoint-sm: 36rem;
$breakpoint-md: 76.8rem;
$breakpoint-lg: 102.4rem;
$breakpoint-xl: 144rem;

@mixin print {
  @media only print {
    @content;
  }
}

@mixin xs {
  @media only screen and (min-width: $breakpoint-xs) {
    @content;
  }
}

@mixin sm {
  @media only screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: $breakpoint-xl) {
    @content;
  }
}
