// All names are taken from https://chir.ag/projects/name-that-color

:root {
  --limed-spruce: #3e4e50;
  --blue-chill: #0fa3b1;
  --tulip-tree: #e6af2e;
  --quill-gray: #e0e2db;
  --hit-gray: #adb4b8;
  --white: #fff;
}
