@use './typography';
@use './mixins/breakpoints';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: typography.$xl-font;
  font-weight: typography.$lg-weight;

  @include breakpoints.sm {
    font-size: typography.$mob-xl-font;
  }
}

h2 {
  font-size: typography.$lg-font;
  font-weight: typography.$md-weight;

  @include breakpoints.sm {
    font-size: typography.$mob-lg-font;
  }
}

h3 {
  font-size: typography.$md-font;
  font-weight: typography.$sm-weight;

  @include breakpoints.sm {
    font-size: typography.$mob-md-font;
  }
}

h4 {
  font-size: typography.$sm-font;
  font-weight: typography.$sm-weight;

  @include breakpoints.sm {
    font-size: typography.$mob-sm-font;
  }
}

h5 {
  font-size: typography.$sm-font;
  font-weight: typography.$xl-weight;

  @include breakpoints.sm {
    font-size: typography.$mob-sm-font;
  }
}

body {
  font-family: 'Amiko', sans-serif;
  font-size: typography.$xs-font;
  font-weight: typography.$xs-weight;

  @include breakpoints.sm {
    font-weight: typography.$mob-xs-font;
  }

  @include breakpoints.print {
    font-size: typography.$xxs-font;
    font-weight: typography.$xxs-weight;
  }
}
