@use './mixins/breakpoints';

$xxs-font: 1.4rem;
$xs-font: 1.8rem;
$sm-font: 2rem;
$md-font: 3.4rem;
$lg-font: 5rem;
$xl-font: 6.5rem;

$mob-xxs-font: 1.4rem;
$mob-xs-font: 1.6rem;
$mob-sm-font: 2rem;
$mob-md-font: 3rem;
$mob-lg-font: 3.4rem;
$mob-xl-font: 4.5rem;

$xxl-weight: 700;
$xl-weight: 600;
$lg-weight: 550;
$md-weight: 500;
$sm-weight: 450;
$xs-weight: 400;
$xxs-weight: 300;
