.arrowWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
}

.leftArrowWrapper {
  @extend .arrowWrapper;

  left: 0;
}

.rightArrowWrapper {
  @extend .arrowWrapper;

  right: 0;
}

.carouselWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  &--horizontal {
    flex-direction: row;
  }
}

.slideWrapper {
  display: flex;
  min-width: 100%;
}
