.wrapper {
  display: flex;
  flex-direction: column;
}

.table {
  display: table;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

.td {
  position: relative;
  border: 1px solid black;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.previousWrapper {
  display: flex;
}

.nextWrapper {
  display: flex;
}
