.wrapper {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.ingredientButton {
  margin: 0 var(--sm-spacing) var(--sm-spacing) 0;
}

.ingredientListHeader {
  padding: 1rem 0;
  color: var(--secondary-text);
}
